# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AdventOfCode2021.iml
# Datasource local storage ignored files
/../../../../../../:\GitHub\AdventOfCode2021\.idea\.idea.AdventOfCode2021.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
